.level-container {
  display: flex;
  gap: 3rem;
  height: 600px;
}
.level-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.level {
  list-style: none;
}
.level__info {
  display: flex;
  gap: 1rem;
  font-size: 28px;
}

.level__reward {
  font-weight: bold;
  transition:
    color 0.6s ease,
    transform 0.6s ease-in-out;
  transform-origin: left center;
}

.level__reward:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.level__reward.current {
  transform: scale(1.15);
  color: var(--color-gold);
}

.level__reward.safe {
  color: #00ffff;
  text-shadow:
    0 0 20px #00ffff,
    0 0 4px #00ffff;
}

.level__number {
  font-weight: bold;
}

.progress {
  position: relative;
  width: 24px;
  height: 100%;
  background: #eee;
  border: 1.5px solid black;
  border-radius: 5px;
  box-shadow: 6px 4px rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.progress-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(87, 199, 133, 1) 0%,
    rgba(155, 42, 42, 1) 49%,
    rgba(245, 228, 0, 1) 100%
  );
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.6s linear;
}
