.level-container{
    display: flex;
    gap: 3rem;
    height: 600px;
}
.level-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.level__info{
    display: flex;
    gap: 1rem;
    font-size: 28px;
}

.level__reward{
    transition: color 0.6s ease, transform 0.6s ease;
}

.level__reward.current{
    transform: scale(1.15);
    color: #ff9800;
}

.progress {
    position: relative;
    width: 24px;
    height: 100%;
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(87, 199, 133, 1) 0%, rgba(155, 42, 42, 1) 49%, rgba(245, 228, 0, 1) 100%);
    clip-path: inset(100% 0 0 0); 
    transition: clip-path 0.6s linear;
}