.joker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 58px;
}

.joker-title {
  font-size: 40px;
  color: #00ffff;
  font-weight: bold;
  text-shadow: 0 0 5px #00ffff;
  margin: 0;
}

.joker-buttons {
  display: flex;
  gap: 2rem;
  width: fit-content;
  padding: 0 20px;
  border-radius: var(--btn-border-radius);
  background: var(--blue-btn-bg);
}

.joker-button {
  padding: 0;
  background-color: transparent;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.joker-button:hover:not(:disabled) {
  transform: scale(1.1);
}

.joker-button:disabled {
  cursor: default;
  opacity: 0.5;
}

.icon {
  width: 100px;
  aspect-ratio: 1/1;
  filter: invert(1);
  transition: filter 1s ease;
}

.joker-button:hover:not(:disabled) .icon {
  filter: invert(0.75) sepia(1) saturate(7) hue-rotate(130deg);
}

.skip-icon {
  transform: scale(1.4);
}

.swap-icon {
  transform: scale(0.85);
}
