.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.3s ease;
}

.overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.confirm-popup p {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: var(--aqua-text-shadow);
}

.confirm-popup span {
  color: var(--color-gold);
  text-shadow: var(--red-text-shadow);
}

.confirm-popup__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.confirm-popup__buttons button {
  width: 150px;
  font-size: 28px;
  font-weight: bold;
  text-shadow: var(--btn-text-shadow-dark);
  border: none;
  border-radius: 12px;
  box-shadow: 0px 6px 5px white;
  background: var(--gradient-btn-bg);
  cursor: pointer;
}

.confirm-popup__buttons button:hover {
  filter: var(--on-hover-brightness);
  box-shadow: var(--gradient-btn-hover-shadow);
}

.confirm-popup__buttons button:active {
  filter: brightness(0.7);
}
