.game-end-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  transform: scale(0.1);
  transition:
    opacity 0.3s ease,
    transform 0.8s ease-out;
}

.game-end-screen.appear {
  opacity: 1;
  transform: scale(1);
}
.game-end-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-end-title {
  position: relative;
  z-index: 0;
  font-size: 80px;
  text-shadow: var(--aqua-text-shadow);
}

.game-end-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -80%;
  left: 75%;
  width: 130px;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.85;
  transform: rotateZ(20deg);
}

.game-end-title.win::before {
  background-image: url("../../assets/images/win.svg");
}

.game-end-title.defeat::before {
  background-image: url("../../assets/images/defeat.svg");
}

.game-end-title.quit::before {
  top: -95%;
  left: 90%;
  width: 150px;
  background-image: url("../../assets/images/quit.svg");
}

.game-end-reward {
  font-size: 48px;
}

.game-end-reward strong {
  color: var(--color-gold);
}

.restart-button {
  width: 350px;
  font-size: 28px;
  font-weight: bold;
  text-shadow: var(--btn-text-shadow-dark);
  border: none;
  border-radius: 12px;
  box-shadow: var(--btn-box-shadow-dark);
  background: var(--gradient-btn-bg);
  cursor: pointer;
}

.restart-button.hoverable:hover {
  box-shadow: var(--gradient-btn-hover-shadow);
}
