.question__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.question__text {
  font-size: 36px;
}

.answer-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirm-button {
  position: absolute;
  bottom: -100%;
  left: 50%;
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: var(--btn-text-shadow-dark);
  box-shadow: var(--btn-box-shadow-dark);
  border: none;
  border-radius: var(--btn-border-radius);
  background: var(--gradient-btn-bg);
  transform: translateX(-50%);
}

.confirm-button.hoverable:hover {
  box-shadow: 0 4px 8px rgba(194, 128, 139, 0.5);
}
